.mainHeader {
  padding: 15px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 125px;
    width: 125px;
  }

  &__leftItem {

    &.insta {
      flex: 0 0 23px;
      width: 23px;
      height: 23px;
      background-image: url(../img/insta.png);
    }

    &.look {
      flex: 0 0 83px;
      width: 83px;
      height: 31px;
      background-image: url(../img/look.png);
    }
  }

  &__logo {
    flex: 0 0 219px;
    width: 219px;
    height: 70px;
    background-image: url(../img/logo.png);
  }

  &__contacts {
    flex: 0 1 auto;
    text-align: right;
  }

  &__contactsPhone {
    font-size: 24px;
    color: $textColor;
    text-decoration: none;
  }

  &__contactsAddress {
    font-style: normal;
  }
}

.menu {
  background-color: #dcb86b;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    flex: 0 1 50px;
    width: 50px;
  }

  &__middle {
    @extend .ul-reset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    li {
      &:hover {
        a {
          background-color: darken(#dcb86b, 10%);
        }
      }
    }
  }

  &__right {
    @extend .ul-reset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 175px;
    width: 175px;
  }

  &__link {
    display: inline-block;
    padding: 12px 15px 11px;
    font-weight: bold;
    color: $textColor;
    text-transform: uppercase;
    text-decoration: none;
    @extend .transition;
  }

  &__link2 {
    padding: 12px 5px 11px;
    font-weight: normal;
    opacity: 0.5;
  }
}

.slider {

  &__inner {

  }

  &__item {
    height: 576px;
    background-size: cover;
  }

  &__text {
    position: absolute;
    top: 60px;
    right: 90px;
    width: 300px;
    background-color: rgba(180, 0, 0, 0.8);
  }

  &__textItem {
    width: 100%;
    padding: 40px 20px;
    color: #fff;
    box-sizing: border-box;
  }

  &__textItemHeader {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__textItemText {
    margin-bottom: 30px;
    line-height: 1.3;
  }

  &__textItemName {
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
  }

  &__textItemPrice {
    font-size: 48px;
    text-transform: uppercase;
  }

  .owl-prev {
    top: 42%;
    left: -60px;
  }

  .owl-next {
    top: 42%;
    right: -60px;
  }
}

.owl-prev {
  position: absolute;
  width: 32px;
  height: 60px;
  background-image: url(../img/left.png);
}

.owl-next {
  position: absolute;
  top: 42%;
  width: 32px;
  height: 60px;
  background-image: url(../img/right.png);
}

.header {
  margin: 30px 0;
  padding: 80px 0 0 0;
  background: url(../img/headerSomeething.png) no-repeat center top;
  font-size: 47px;
  text-align: center;
  text-transform: uppercase;
}

.services {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex: 0 0 235px;
    width: 235px;
  }

  &__itemImage {
    display: block;
    height: 221px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__itemName {
    display: block;
    margin: 20px 0 15px;
    @extend .linkSpanReverse;
    text-align: center;
    text-transform: uppercase;
  }

  &__itemText {
    opacity: 0.7;
    line-height: 1.3;
  }
}

.imageSlider {
  margin: 50px 0 30px;

  &__inner {
    margin: 0 auto;
    width: 645px;
  }

  &__item {
    height: 484px;
    background-size: cover;
  }

  .owl-prev {
    top: 42%;
    left: -60px;
  }

  .owl-next {
    top: 42%;
    right: -60px;
  }
}

.dopServices {
  margin-bottom: 50px;

  &__item {
    margin: 15px 0;
    font-size: 24px;
    text-align: center;
  }
}

.footer {
  padding: 15px 0;
  background-color: #000;

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    margin-right: 25px;
    flex: 0 0 145px;
    width: 145px;
    height: 49px;
    background-image: url(../img/logo__footer.png);
  }

  &__menu {
    @extend .ul-reset;
    display: flex;
    justify-content: space-between;
  }

  &__menuLink {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.header2 {
  margin: 30px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.contactsPage {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 630px;
  }

  &__left {
    flex: 0 0 250px;
    width: 250px;
  }

  &__right {
    flex: 0 0 325px;
    width: 325px;
  }

  hr {
    border: none;
    height: 2px;
    background-color: #000;
  }

  &__item {
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__header {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.3;
  }

  &__text {
    opacity: 0.6;
    line-height: 1.3;
  }
}

.contactsForm {

  &__text {
    margin-bottom: 10px;
    color: #dcb86b;
    text-align: center;
  }

  &__inner {
    border-radius: 7px;
    padding: 25px 40px;
    background-color: #eeeeee;
  }

  .form-group {
    margin: 10px 0 0;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    label {
      display: block;
      margin-bottom: 5px;
      opacity: 0.6;
    }
  }

  &__input {
    border: none;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  textarea {
    height: 90px;
    box-sizing: border-box;
    resize: none;
  }

  &__submit {
    display: block;
    margin: 20px auto 0;
    width: 140px;
    padding: 10px 0;
    background-color: #dcb86b;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    @extend .transition;
    
    &:hover {
      background-color: darken(#dcb86b, 10%);
    }
  }
}

#map {
  height: 550px;
}

.servicePage {
  margin: 30px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 60px;
    border-top: 1px solid #cccccc;
    flex: 0 0 47%;
    width: 47%;
    padding-top: 40px;

    &:nth-child(1), &:nth-child(2) {
      border-top: none;
    }
  }

  &__itemName {
    font-size: 24px;
  }

  &__itemInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    font-family: Arial, serif;
    font-size: 18px;
  }

  &__itemTime {
    margin-right: 5px;
  }

  &__itemPrice {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
  }

  &__itemInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__itemImage {
    margin-right: 15px;
    flex: 0 0 150px;
    width: 150px;
    height: 150px;
    background-size: cover;
  }

  &__itemText {
    flex: 1 1 auto;
    line-height: 1.4;
    opacity: 0.7;
  }
}

.masters {
  margin: 30px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }

  &__item {
    flex: 0 0 200px;
    text-align: center;
  }

  &__image {
    display: inline-block;
    max-width: 179px;
    width: 100%;
    height: 180px;
    background-size: cover;
  }

  &__name {
    margin: 10px 0;
    font-size: 24px;
  }

  &__function {
    opacity: 0.6;
  }
}

.advantages {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 880px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 48%;
    width: 48%;
  }

  &__itemImage {
    flex: 0 0 130px;
    width: 130px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__itemHeader {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.2;
  }

  &__itemText {
    line-height: 1.3;
    opacity: 0.6;
  }
}

.son_wrapper {
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 0;
  right: 0;
  border:0 solid #f00;
  z-index:9999;
}
.son_wrapper a {
    text-decoration:none;
}
.son_circle {
  display: block;
  width:100px;
  height:100px;
  border-radius:250px;
  font-size:14px;
  font-family: Play, sans-serif !important;
  color:#fff;
  line-height:25px;
  text-align:center;
  background:#f00;
}
@keyframes son_outercircle {
  0% { transform: scale(1,1); opacity: 1; }
  80% { opacity: 0.8; }
  100% { transform: scale(2,2); opacity: 0; }
}
.son_outercircle {
  z-index: -1000;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 5px solid #f00;
  border-radius: 50%;
  animation: son_outercircle 2s infinite linear;
  margin-top: 15px ;
  margin-left: 15px ;
}