@font-face {
  font-family:'OfficinaSansCTT';
  src: url('fonts/OfficinaSansCTT.eot');
  src: url('fonts/OfficinaSansCTT.eot?#iefix') format('embedded-opentype'),
  url('fonts/OfficinaSansCTT.woff2') format('woff2'),
  url('fonts/OfficinaSansCTT.woff') format('woff'),
  url('fonts/OfficinaSansCTT.ttf') format('truetype'),
  url('fonts/OfficinaSansCTT.otf') format('opentype'),
  url('fonts/OfficinaSansCTT.svg#OfficinaSansCTT') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}